.oa-list {
  padding: 0;
  margin: 0 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.oa-list__item {
  list-style: none;
  display: block;
  margin: 0 0 15px;
  padding: 5px;
}

.oa-list__item:last-child {
  margin-right: auto;
}

.oa-event.oa-event--list {
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .04);
  color: #413a42;
  font-size: 14px;
  border-radius: 6px;
  height: 100%;
}

.oa-event.oa-event--list:hover {
  box-shadow: none;
  color: #fff;
  background: #3a383b;
}

.oa-list.oa-list--x1 .oa-list__item {
  flex-basis: calc(100%);
}

.oa-list.oa-list--x2 .oa-list__item {
  flex-basis: calc(100%);
}

.oa-list.oa-list--x3 .oa-list__item {
  flex-basis: calc(100%);
}

.oa-list.oa-list--x4 .oa-list__item {
  flex-basis: calc(100%);
}

@media (min-width: 768px) {
  .oa-list.oa-list--x2 .oa-list__item {
    flex-basis: calc(100%);
  }

  .oa-list.oa-list--x3 .oa-list__item {
    flex-basis: calc(50%);
  }

  .oa-list.oa-list--x4 .oa-list__item {
    flex-basis: calc(50%);
  }
}

@media (min-width: 992px) {
  .oa-list.oa-list--x2 .oa-list__item {
    flex-basis: calc(100%);
  }

  .oa-list.oa-list--x3 .oa-list__item {
    flex-basis: calc(50%);
  }

  .oa-list.oa-list--x4 .oa-list__item {
    flex-basis: calc(33.3%);
  }
}

@media (min-width: 1200px) {

  .oa-list.oa-list--x2 .oa-list__item {
    flex-basis: calc(50%);
  }

  .oa-list.oa-list--x3 .oa-list__item {
    flex-basis: calc(33.33%);
  }

  .oa-list.oa-list--x4 .oa-list__item {
    flex-basis: calc(25%);
  }
}

.oa-event__wrapper {
  position: relative;
}

.oa-event-title {
  font-size: 16px;
  line-height: 16px;
  margin: 10px 0 10px;
}

.oa-list__item:hover .oa-event-title {
  color: #fff;
}

.oa-event__header {
  position: relative;
}

.oa-event__header .oa-event-thumbnail {
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  height: 200px;
  background: #ccc;
}

.oa-list.oa-list--x1 .oa-event-thumbnail {
  height: 300px;
}

.oa-list.oa-list--x2 .oa-event-thumbnail {
  height: 250px;
}

.oa-list.oa-list--x3 .oa-event-thumbnail {
  height: 200px;
}

.oa-list.oa-list--x4 .oa-event-thumbnail {
  height: 150px;
}

.oa-event.oa-event--list .oa-event__content {
  line-height: 15px;
}

.oa-event.oa-event--single .oa-event__content {
  margin: 10px 0;
}

.oa-event--list .oa-event-location {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px;
  border-radius: 4px;
  background: rgba(0, 0, 0, .5);
  color: #fff;
  text-align: right;
  z-index: 2;
}

.oa-event-location {
  line-height: 16px;
}

.oa-event-location:before {
  content: '';
  display: inline-block;
  height: 14px;
  width: 10px;
  margin-right: 5px;
  background: url('../img/marker.svg');
  background-size: contain;
  vertical-align: baseline;
  margin-bottom: -2px;
}

.oa-event--list .oa-event-location:before {
  background: url('../img/marker-white.svg');
}

.oa-event-timing {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px;
  border-radius: 4px;
  background: #41acdd;
  color: #fff;
  text-align: left;
  line-height: 16px;
  z-index: 2;
}

.oa-event-daterange {
  margin-bottom: 10px;
}

.oa-event-keyword {
  display: inline-block;
  margin-right: 5px;
  font-size: 13px;
  text-transform: uppercase;
}

.oa-event-keyword a {
  text-decoration: none;
  color: #849095;
}

.oa-event-permalink {
  text-decoration: none;
  color: #41acdd;
}

.oa-links__back {
  color: #41acdd;
}

.oa-links__nav {
  padding: 10px;
  text-align: center;
}

.oa-event-picture {
  width: 100%;
  margin: 0;
  background: transparent;
  position: relative;
}

.oa-event-picture img {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.oa-event-picture figcaption {
  color: #ccc;
  text-align: right;
  padding: 5px 0 5px !important;
  background: transparent;
}

.oa-event__content iframe {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.sidebar-grid > .site-main {
  grid-column: 1 / 12 !important;
}

.oa-map-filter .leaflet-container,
.oa-event-map {
  border-radius: 6px;
  overflow: hidden;
}

.oa-map-filter .checkbox {
  margin-top: 5px;
}

.oa-map-filter .leaflet-control-zoom {
  top: 5px;
  left: 5px;
  margin-left: 0;
  margin-top: 0;
  border-width: 0;
}

.oa-event-map .leaflet-control-zoom {
  top: 10px;
  left: 10px;
  margin-left: 0;
  margin-top: 0;
  border-width: 0;
}

.oa-map-filter .leaflet-control-zoom a,
.oa-event-map .leaflet-control-zoom a {
  background: #849095;
  color: #fff;
  border-radius: 4px !important;
  overflow: hidden;
  border-bottom-width: 0;
  opacity: .7;
}

.oa-map-filter .leaflet-control-zoom a:hover,
.oa-event-map .leaflet-control-zoom a:hover {
  opacity: 1;
}

.oa-map-filter .leaflet-control-zoom a + a,
.oa-event-map .leaflet-control-zoom a + a {
  margin-top: 2px;
}

.oa-map-filter .leaflet-marker-icon {
  width: 30px !important;
  height: 30px !important;
  margin-top: -15px !important;
  margin-left: -15px !important;
  text-align: center;
  line-height: 30px !important;
  color: #fff;
  font-weight: 600;
  border-radius: 50%;
  background: #41acdd;
}

.oa-map-filter .leaflet-marker-icon div {
  margin-top: 0 !important;
  margin-left: 0 !important;
}


.oa-active-filter .search {
  background: #41acdd;
  padding: 5px;
  border-radius: 20px;
}

.oa-active-filter .badge {
  background: #41acdd;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 5px;
  line-height: 20px;
}

.oa-active-filter .badge button {
  width: 1px;
  background: transparent;
  border-width: 0;
  height: 22px;
  position: relative;
}

.oa-active-filter .badge i {
  display: none;
}

.oa-active-filter .badge button:after {
  content: '✕';
  color: #fff;
  width: 10px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 5px;
  top: -2px;
  position: absolute;
}

.block-openagenda {
  margin-bottom: 20px !important;
}

.oa-filter input[type="checkbox"] {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0;
  vertical-align: middle;
  border: 1px solid #849095;
  border-radius: 0.1875rem;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 14px 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none !important;
  vertical-align: text-bottom;
  margin-right: 10px;
}

.oa-filter input {
  font-size: 15px;
}

.oa-filter input[type="search"] {
  background: url(../img/search.svg);
  background-position: calc(100% - 2px) center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 30px;
}

.checkbox.active {
  font-weight: 600;
}

.checkbox.active span {
  font-weight: 600;
  color: #41acdd;
}

.oa-filter input[type="checkbox"]:checked {
  border: 1px solid #849095;
}

.oa-filter label {
  font-size: 14px;
  margin-bottom: 2px;
}

.oa-filter label span {
  font-size: 14px;
  font-weight: 500;
  color: #849095;
}

.oa-filter .form-control {
  display: block;
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  line-height: 16px;
  color: #413a42;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #849095;
  border-radius: 5px !important;
  outline: none;
  min-height: 0;
}

.oa-filter .form-control + .input-group-append {
  display: none;
}

.oa-filter .form-control:hover {
  outline: none;
}

.oa-filter .form-control:active {
  outline: none;
}

.oa-cities-filter button.btn-link-inline {
  display: inline-block;
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
  border-width: 0;
  padding: 0;
  margin: 10px 0;
  font-size: 15px;
  border-radius: 0;
}

.oa-cities-filter button.btn-link-inline:before {
  content: '+ ';
  display: inline;
}

.oa-cities-filter .form-control {
  margin-bottom: 10px;
}

.rdrDateDisplay {
  margin: 10px 0;
}

.rdrNextPrevButton {
  margin: 0;
}

.rdrMonth {
  padding: 0 0 10px;
}

.wbg.exports {
  margin-bottom: 10px;
  text-align: right;
}

.wbg.exports a {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  background: #3a383b;
  color: #fff;
  text-align: left;
  line-height: 16px;
  font-size: 15px;
  margin-right: 3px;
  min-width: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.wbg.exports a:hover {
  background: #6d6a6e;
}

.wbg.exports a:before {
  content: '';
  display: inline-block;
  height: 14px;
  width: 14px;
  margin-right: 5px;
  background: url('../img/download.svg');
  background-size: contain;
  vertical-align: baseline;
  margin-bottom: -2px;
}

.oa-event-map {
  height: 300px;
}

.oa-filter-total {
  margin-left: 7px;
  font-weight: 500;
}

.map-container .leaflet-container {
  height: 180px;
}

.oa-choice-option-label {
  text-transform: capitalize;
}

.oa-event-favorite {
  position: absolute;
  right: 10px;
  z-index: 2;
  color: #fff;
  top: 10px;
  width: 30px;
  height: 30px;
  text-indent: 9999px;
  overflow: hidden;
  background-image: url(../img/heart-off.svg);
  background-size: 66%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: 5px;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 5px;
}

.oa-event-favorite.oa-event-favorite--big {
  right: 15px;
  top: 15px;
  width: 34px;
  height: 34px;
}

.oa-event-favorite.active {
  background-image: url(../img/heart.svg);
}
