{#
/**
 * @file
 * Default theme implementation for total filter block.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

<form {{ attributes_form }}>
  <div class="oa-total-filter oa-filter" role="status" data-oa-widget="total" data-oa-widget-params="{&quot;message&quot;:{&quot;id&quot;:&quot;eventsTotal&quot;},&quot;name&quot;:&quot;total&quot;}"></div>
</form>
