{#
/**
 * @file
 * Default theme implementation for search filter block.
 *
 * Available variables:
 * - attributes_form : attributes form tag
 * - placeholder: filter input placeholder.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

<form {{ attributes_form }}>
  <div class="oa-search-filter oa-filter" data-oa-filter="search" data-oa-filter-params="{&quot;type&quot;:&quot;search&quot;,&quot;name&quot;:&quot;search&quot;,&quot;placeholder&quot;:&quot;{{ placeholder }}&quot;,&quot;ariaLabel&quot;:&quot;{{ aria_label }}&quot;}"></div>
</form>
