{#
/**
 * @file
 * Default theme implementation for submit filter block.
 *
 * Available variables:
 * - attributes_form : attributes form tag
 * - text: submit input text.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

<form {{ attributes_form }}>
  <div class="oa-submit-filter oa-filter" >
    <input type="submit" class="button button--primary" value="{{ text }}">
    </div>
</form>
