{#
/**
 * @file
 * Default theme implementation for keyword filter block.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

<form {{ attributes_form }}>
  <div class="oa-choice-filter oa-filter" data-oa-filter="keywords" data-oa-filter-params="{&quot;type&quot;:&quot;choice&quot;,&quot;name&quot;:&quot;keyword&quot;,&quot;searchPlaceholder&quot;:&quot;{{ placeholder }}&quot;,&quot;searchAriaLabel&quot;:&quot;{{ aria_label }}&quot;}"></div>
</form>
