{#
/**
 * @file
 * Default theme implementation for date range filter block.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('openagenda/openagenda.daterange-filter') }}

<form {{ attributes_form }}>
  <div class="oa-daterange-filter oa-filter" data-oa-filter="date-range" data-oa-filter-params="{&quot;type&quot;:&quot;{{ daterange_type }}&quot;,&quot;name&quot;:&quot;timings&quot;}"></div>
</form>
